{{#if username}}
  <div class="alert alert-success row my-3" role="alert">
    <div class="col-6">Bienvenido/a {{this.username}}</div>
    <div class="col-6 text-end">
      <a class="btn btn-warning btn-sm" href="http://localhost:8080/logout" role="button">Desloguear</a>
    </div>
  </div>
{{/if}}